<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="style.css">


</head>
<body>
<div id="app">
  <div v-if="books.length">
    <table>
      <thead>
      <th></th>
      <th>出版名称</th>
      <th>出版日期</th>
      <th>价格</th>
      <th>购买数量</th>
      <th>操作</th>
      </thead>
      <tbody>
      <tr v-for="(item,index) in books">
        <td :key="item.id">{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.data}}</td>
        <td>{{item.price|showPrice}}</td>
        <td>
          <button @click="deleclick(index)" :disabled="item.count<=1">-</button>
          {{item.count}}
          <button @click="addclick(index)">+</button>
        </td>
        <td><button @click="removeHandle(index)">删除</button></td>
      </tr>
      </tbody>
    </table>
    <h2>价格总数:{{totalPrice}}</h2>
  </div>
  <div v-else>购物车为空</div>

</div>
<script src="../js1/vue.js"></script>
<script src="main.js"></script>
</body>
</html>